#about
    .textbox
        h1
            font-weight: 700
            font-size: 40px
        h3
            font-size: 18px
    .imgbox
        width: 150px
        border: 7px solid #e9ecef
        border-radius: 100%
    