#about
    h1
        font-weight: 700
        font-size: 40px
    h4
        font-size: 18px
        color: #6c7596
    .textbox
        width: 380px
        h2
            font-weight: 700
            font-size: 30px
            margin-bottom: 10px
        p
            font-size: 18px
    .box
        width: 150px
        .imgbox
            border-radius: 100%
            border: 7px solid #e9ecef
            width: 150px
