#contact
    background-image: url(Assets/contact.jpg)
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    h1
        font-weight: 700
        font-size: 40px
        color: red