#contact
    background-color: #212529
    background-image: url(Assets/contact.png)
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    h1 
        font-weight: 700
        font-size: 40px
        color: #ffff
        margin-bottom: 15px
    h3
        color: #6c757d
    .btn
        padding: 15px 30px
        background-color: #ffc800
        h2 
            font-weight: 700
            color: #ffff
    .textbox
        .add