#contact
    background-color: #212529
    background-image: url(Assets/contact.png)
    background-position: center center end
    background-repeat: no-repeat
    background-size: cover
    h1 
        font-weight: 700
        font-size: 40px
        color: #ffff
        margin-bottom: 15px
    h3
        color: #6c757d
    .textbox
        padding: 20px 0
        .add
            input
                width: 600px
                height: 60px
                font-weight: 700
                font-size: 20px
                color: #b4b7b9
                margin: 0 0 25px 0
    .btn
        opacity: 0.5
        padding: 20px 35px
        background-color: #ffc800
        h2 
            font-weight: 700
            font-size: 22px
            color: #ffff

