#services
    padding: 40px 0
    h1
        font-size: 40px
        font-weight: 700
    h2
        font-size: 18px
    .box
        .icon
            font-size: 60px
            color: #ffff
            padding: 37px
            width: 140px
            height: 140px
            border-radius: 100%
            background-color: #ffc800
        