#services
    h1
        font-size: 40px
        font-weight: 700
    h3
        font-size: 18px
        color: #6c7596
    .box
        display: flex
        flex-flow: wrap
        justify-content: center
        margin: 40px 0
        .minibox
            .icon
                width: 130px
                height: 130px
                background-color: #ffc800
                border-radius: 100%
                display: flex
                justify-content: center
                align-items: center
                margin: 0 10px
                i
                    font-size: 65px
                    color: #ffff
        .textbox
            text-align: center
            h2
                font-size: 28px
                font-weight: 700
                margin: 15px 0
            h4
                font-size: 20px
                color: #6c7596
                line-height: 1.4
    @media screen and (max-width: 768px)
        h1
            font-size: 40px
            font-weight: 700
        h3
            font-size: 18px
            color: #6c7596
        .box
            display: flex
            flex-flow: wrap
            justify-content: center
            margin: 40px 0
            .minibox
                .icon
                    width: 130px
                    height: 130px
                    background-color: #ffc800
                    border-radius: 100%
                    display: flex
                    justify-content: center
                    //align-items: center
                    margin: 0 10px
                    i
                        font-size: 65px
                        color: #ffff
            .textbox
                text-align: center
                h2
                    font-size: 28px
                    font-weight: 700
                    margin: 15px 0
                h4
                    font-size: 20px
                    color: #6c7596
                    line-height: 1.4
