#welcome
    padding: 40px 0
    background-image: url(Assets/header-bg.jpg)
    background-position: center center
    background-repeat: no-repeat
    background-size: cover
    height: 750px
    .box
        padding: 20px 0
        color: #ffff
        list-style: 2.1
        h1
            font-size: 36px
            font-weight: 700
        h3
            font-size: 72px
            font-weight: 700
            margin: 30px 0 60px
        .btn
            padding: 15px 45px
            background: #ffc800
            h2
                color: #ffff
